@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../font/satoshi/Satoshi-Bold.woff') format('woff'),
        url('../font/satoshi/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url('../font/satoshi/Satoshi-Black.woff') format('woff'),
        url('../font/satoshi/Satoshi-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../font/satoshi/Satoshi-Medium.woff') format('woff'),
        url('../font/satoshi/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../font/satoshi/Satoshi-Regular.woff') format('woff'),
        url('../font/satoshi/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.custome-bg {
    background-image: url("../image/green.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 650px;
}

.font-f {
    font-family: 'Satoshi-Bold', Arial, Helvetica, sans-serif;
    color: white;
}

.font-f:hover {
    color: white;
}

.font-drop {
    font-family: 'Satoshi-Medium', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.font-drop:hover {
    color: white !important;
}

.b-rou {
    border-radius: 0;
}

.honor {
    font-family: "Karla", system-ui, sans-serif;
    letter-spacing: 1px;
}

.edith {
    border-radius: 0 !important;
}

.edith:hover {
    background-color: #f8f9fa !important;
}

.cart {
    cursor: pointer;
}

.w-custome {
    width: 125px;
}

.h-custome {
    height: fit-content;
}

.style {
    list-style-type: none;

}

.magni {
    transition: all 200ms ease-out 0s;
}

.magni:hover {
    zoom: 1.1;
}

.font-bio {
    font-family: 'Satoshi-Bold', Arial, Helvetica, sans-serif !important;
}

.font-li {
    font-family: "Karla", system-ui, sans-serif !important;
}

.focous {
    font-size: 15px;
}

.nav-custome {
    background-color: #d0dfa9;
}

.news {
    font-family: "Karla", system-ui, sans-serif !important;
    font-size: 15px;
    letter-spacing: 2px;
}

.sub {
    border-radius: 4px !important;
    transition: all 400ms ease-out 0s;
}

.sub:hover {
    color: black;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.w-email {
    width: 350px;
}

.off {
    cursor: pointer;
    width: fit-content;
}

.point {
    cursor: pointer;
}

.card-rad {
    border-radius: 8px !important;
}

.kind {
    background-image: url("../image/simple-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 550px;

}


.icon-b {
    width: 30px;
}