* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Vazirmatn", sans-serif;
}

:root {
    --heading-color: #414A53;
    --secondary-color: #F7D2CA;
    --sm-heading: #57626D;
    --sm-hover: #A0ACB9;
    --body: #86939F;
    --primary-color: #55883b;
    --teritary-color: #f6f4f3;
    --m-lg-right: 24px;
    --m-lg-left: 24px;
    --m-md-right: 16px;
    --m-md-left: 16px;
    --m-sm-right: 8px;
    --m-sm-left: 8px;
    --pic-border-color: #E9E5E1;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
}

.first {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.second {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    list-style-type: none;
    height: 100%;
}


a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 75px;
}

.drop {
    font-size: 12px;
    padding: 4px;
}

.pic {
    width: 75px;
}

.pic img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.second i {
    font-size: 22px;
    line-height: 75px;
    transition: all 200ms linear 0s;
    cursor: pointer;
    /* background-color: teal; */
}

.badge i {
    position: relative;
}

.badge i div {
    background-color: #800000;
    color: #f6f4f3;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 0;
    right: 0;
    margin-top: -4px;
    margin-right: -4px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.shop {
    width: 70%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 2px var(--body), -1px -1px 3px 2px var(--body);
}

.shop1 {
    width: 50%;
    margin: 24px auto;
}

.shop1 img {
    display: block;
    width: 100%;
}

p:first-of-type {
    color: var(--sm-heading);
    text-align: center;
    font-weight: 500;
}

p:last-of-type {
    color: var(--body);
    text-align: center;
    font-weight: 400;
    margin: 8px 0px;
}

p:last-of-type a {
    line-height: 18px !important;
}

.bread {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: fit-content;
    margin: 10px 0px;
}

.bread li,
.bread li a {
    font-size: 16px;
    color: var(--body);
    line-height: 16px;
    transition: all 200ms linear 0s;
    margin-right: 6px !important;
}

.bread li a:hover {
    color: var(--heading-color);
}

@media all and (max-width:575px) {
    li {
        margin-right: var(--m-sm-right);
    }


    .hide-user {
        display: none;
    }

    a {
        color: var(--sm-heading);
    }

    .second i {
        color: var(--sm-heading);
    }


    .second i:hover {
        color: var(--sm-hover);
    }

    .second li:last-of-type {
        margin-left: var(--m-sm-left);
    }

    .service,
    .hide-li,
    .find {
        display: none;
    }

    p:first-of-type {
        font-size: 16px;
    }

    p:last-of-type,
    p:last-of-type a {
        font-size: 14px;
    }

    .bread {
        margin-right: var(--m-sm-right);
    }
}

@media all and (min-width:576px) and (max-width:991px) {

    li {
        margin-right: var(--m-md-right);
    }

    .hide-li {
        display: none;
    }

    .menu {
        display: none;
    }

    a {
        color: var(--sm-heading);
    }

    .second i {
        color: var(--sm-heading);
    }

    .second li {
        transition: all 200ms linear 0s;
        transform: scale(1);
    }

    .second li:hover {
        transform: scale(1.1);

    }

    .second i:hover {
        color: var(--sm-hover);
    }

    .service {
        font-weight: 700;
    }

    .find {
        margin-left: var(--m-md-left);
    }

    p:first-of-type {
        font-size: 18px;
    }

    p:last-of-type,
    p:last-of-type a {
        font-size: 16px;
    }

    .bread {
        margin-right: var(--m-md-right);
    }
}

@media all and (min-width:992px) {

    li {
        margin-right: var(--m-lg-right);
    }

    a {
        color: var(--sm-heading);
    }

    .find {
        margin-left: var(--m-lg-left);
    }

    .second i {
        color: var(--sm-heading);
    }

    .second li {
        transition: all 200ms linear 0s;
        transform: scale(1);
    }

    .second li:hover {
        transform: scale(1.1);

    }

    .second i:hover {
        color: var(--sm-hover);
    }

    .service {
        font-weight: 700;
    }

    .menu {
        display: none;
    }

    p:first-of-type {
        font-size: 20px;
    }

    p:last-of-type,
    p:last-of-type a {
        font-size: 18px;
    }

    .bread {
        margin-right: var(--m-lg-right);
    }
}